@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.nav-item{
    text-decoration: none;
    font-size: larger;
    color: #FCF9EA;
    font-family: "Montserrat", sans-serif;;

}
body{
    background-color: #F5F5F0;
}
.background-image{
    position: absolute;
    max-width: 100%;
    /* -webkit-mask-image: linear-gradient(black, transparent); */
    mask-image: linear-gradient(black 35%, transparent);
}
.logo{
    font-size: 3rem;
    font-family: "Baloo Tamma 2", system-ui;
    font-weight: 900;
    text-shadow: 2px 2px 4px #000000;
}
.header-section{
    padding-top: 3rem;
    position: relative;
}
.navigation-section{
    padding-left: 3rem;;
}
.about{
    margin-top: 15rem;
    text-align: center;
    position: relative;
}
.name{
    font-weight: 800;
    font-size: 3.5rem;
    font-family: "Baloo Tamma 2", system-ui;
}
.short-description{
    font-weight: 600;
    font-size: larger;
    width: 40%;
    justify-self: center;
}
main{
    /* background-image: url("/header.jpg"); */
    height: 500px;
}